/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #CABAC8; /* lavender*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #E89005;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

#menusize {
  background-color: #FB5012;
}

.backgroundorange{
  background-color: #FB5012;
}



.background-lavender{
  background-color: #CABAC8
}

.small{
  font-size: 10pt;
  color: black;
}

.medium{
  font-size: 25pt;
}

html,body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position: absolute;
   bottom:0;
   width:100%;
   background:rgba(217, 81, 5, 1);
}

.clearfooter {
height: 130px;
clear: both;
}
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(217, 81, 5, 1);
}
.bottom{
  text-align: bottom;
}


.font-berkshire-swash{
  font-family: 'Berkshire Swash', cursive;
}


#project{
  font-size: 20pt;
  text-align: center;
}

div.par {
  background-color: #FB5012;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  height: 35px;
}
div.qbox {
  background-color: blue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.center{
  text-align: center;
}

#menusize{
  font-size: 50pt;
}



* {
   margin: 0;
   padding: 0;
}

.imgbox {
   display: grid;
    height: 100%;
   }
 .center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
        }

#grad1 {
  height: 1000px;
  background-color: #cccccc;
  background-image: linear-gradient(#E70E02, #E89005);
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 455px;
  height: 250px;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 70%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.parDiv {
   border: 5px outset red;
   background-color: lightblue;
   text-align: center;
}

div.scroll {
  background-color: #fed9ff;
  width: 1400px;
  height: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

/* Historia page css */

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v1_2 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v10_4 {
  width: 100%;
  height: 315px;
  background: url("../images/v10_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1_3 {
  width: 720px;
  height: 315px;
  background: url("./img/cuba.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v10_2 {
  width: 720px;
  height: 315px;
  background: url("./img/ghana.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 720px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.v10_5 {
  width: 720px;
  height: 585px;
  background: url("../images/v10_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 0px;
  overflow: hidden;
}

.v1_4 {
  width: 720px;
  height: 585px;
  background: rgba(236,70,70,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v9_77 {
  width: 657px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 153px;
  left: 39px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v5_2 {
  width: 466px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 105px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}

.ban {
  width: 1000px;
  color: rgba(217, 132, 5, 1);
  position: absolute;
  top: 60px;
  left: 300px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

.v10_6 {
  width: 720px;
  height: 585px;
  background: url("../images/v10_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 315px;
  left: 720px;
  overflow: hidden;
}

.v5_0 {
  width: 720px;
  height: 585px;
  background: rgba(39,195,36,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v9_78 {
  width: 657px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 153px;
  left: 17px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v5_3 {
  width: 604px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 55px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(217, 132, 5, 1);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(217, 81, 5, 1);
  color: white;
  font-family: 'Berkshire Swash', cursive;
}

/* clave page */

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_2 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_4 {
  width: 100%;
  height: 300px;
  background: rgba(248,65,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 7px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v5_5 {
  width: 100%;
  height: 300px;
  background: rgba(248,65,65,1);
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 0px;
  border: 7px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v5_6 {
  width: 100%;
  height: 300px;
  background: rgba(1,92,171,1);
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 15px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v6_1 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 682px;
  left: 14px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_2 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 368px;
  left: 14px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_0 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 14px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_3 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 265px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_4 {
  width: 846px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 309px;
  left: 357px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_6 {
  width: 743px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 649px;
  left: 447px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v6_7 {
  width: 265px;
  height: 300px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 7px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v6_8 {
  width: 265px;
  height: 300px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 0px;
  border: 7px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v6_9 {
  width: 265px;
  height: 300px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 0px;
  border: 6px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v6_12 {
  width: 413px;
  height: 107px;
  background: rgba(87,37,230,0.4699999988079071);
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 612px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v9_0 {
  width: 413px;
  height: 107px;
  background: url("../images/v9_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 307px;
  overflow: hidden;
}
.v6_10 {
  width: 413px;
  height: 107px;
  background: rgba(225,24,24,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 21px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;


  border: none;

  margin: 0px 0px;
  cursor: pointer;
}
.v9_2 {
  width: 399px;
  height: 102px;
  background: url("../images/v9_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 619px;
  overflow: hidden;
}
.v6_17 {
  width: 399px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v9_1 {
  width: 413px;
  height: 107px;
  background: url("../images/v9_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 905px;
  overflow: hidden;
}
.v6_11 {
  width: 413px;
  height: 107px;
  background: rgba(225,24,24,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v6_16 {
  width: 366px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 24px;
  font-family: Berkshire Swash;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10_0 {
  width: 350px;
  height: 100px;
  background: url("./img/threetwo.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 362px;
  left: 929px;
  overflow: hidden;
}
.v10_1 {
  width: 350px;
  height: 100px;
  background: url("./img/twothree.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 362px;
  left: 328px;
  overflow: hidden;
}
